# Embase API Credentials
EMBASE_API_KEY=your_api_key_here
EMBASE_INST_TOKEN=your_inst_token_here

# PubMed/NCBI API Credentials (Optional but recommended to increase rate limit to 10/s)
NCBI_API_KEY=your_ncbi_api_key_here
NCBI_EMAIL=your_email@example.com
NCBI_TOOL_NAME=buscador_artigos_cli

